@{
    ViewBag.Title = "Kontakt";
}

    <div class="container-fluid padding mb-4">
        <div class="row padding ">
            <div class="col-md-12 col-lg-6">
                <address>
                    <strong>MovieRent</strong>
                    <p>ul. Wesoła 161 <br>90-000 Łódź <br><strong><abbr title="Telefon">Tel. </abbr> 12 34 56 788</strong><br>e-mail: <a href="mailto:damian.wieczorek1@unilodz.eu">damian.wieczorek1@unilodz.eu</a></p>

                   

                </address>
            </div>
            <div class="map-responsive">

                <div class="col-lg-6">

                  
                
                    <iframe class="embed-responsive-item shadow  bg-white rounded" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2468.6091608795214!2d19.487074715747234!3d51.77675187968037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471bcb3c1a1b8f9d%3A0x564566d8e927e1dd!2sWydzia%C5%82%20Fizyki%20i%20Informatyki%20Stosowanej%20Uniwersytetu%20%C5%81%C3%B3dzkiego!5e0!3m2!1spl!2spl!4v1581545432963!5m2!1spl!2spl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>

            </div>

        </div>

    </div>
